@media (max-width: 1024px) {
img {
  width: 80vw;
}
}
html {
  background: #ffffff;
}
body {
  background: hsl(0, 0%, 90%);
  height: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-text h1, .header-text p {
  text-align: center;
  line-height: 2em;
}
.header-text h1 {
  font-size: 200%;
  padding-top: 1em;
}
.header-text p {
  padding-bottom: 1em;
  margin-bottom: 0;
}
/* .header-text {
  background: lightgray;
} */
.picture {
  width: 98.5%;
  background: #ffffff;
  margin: 0 auto;
}
.picture figure {
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
figcaption {
  padding: 1em 0;
  font-size: 1.1em;
}
/* main {
  background: lightgray;                
} */
.main-list__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-top: 1em;
}
.main-list__content h3 {
font-weight: bold;
}
.main-list_content-text {
  max-width: 32em;
  font-size: 120%;
}
.main-list_content-text li {
  margin: 1em 0;
}
blockquote {
  max-width: 32em;
  font-style: italic;
  font-size: 20px;
  /* text-align: justify; */
}

blockquote p::before {
  content: "\“";
}
blockquote p::after {
  content: "\”";
}
footer h3 {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 2em;
}