:root {
    --f-big: 200%;
    --f-sm: 150%;
    --f-def: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 70%;
    margin: 0 auto;
}
.sec-con {
    background:skyblue;
}
.sec-con .log-di {
    display: inline-block;
}
.sec-con .log-di a {
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;
}
.main-nav ul li {
    display: inline-block;
    list-style-type: none;
}
.main-nav ul li a {
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: all .2s linear;
}
.main-nav ul li a:hover, .main-nav ul li a:focus {
    color: #ffffff;
    border-bottom: 5px solid salmon;
    padding-bottom: 3px;
}
#main-nav__btn-cta {
    background: slateblue;
    border-radius: 25px;
    padding: 8px 36px;
}
#main-nav__btn-cta:hover, #main-nav__btn-cta:focus {
    background: #ffffff;
    color: black;
    border: 0;
}
.main-nav {
    display: inline-block;
    width: calc(var(--f-def) - 53px);
    text-align: right;
}

.sec-body__main {
    background-color: pink;
    height: 20vw;
}
.sec-body__main p {
    margin: 0;    
    padding: 5px 9px;
    color: #ffffff;
    font-weight: bold;
    font-size: var(--f-big);
}
footer h2 {
    font-size: var(--f-big);
    color: darkgreen;
}
footer p {
    font-size: var(--f-sm);
    font-weight: bold;
}

